@{
    ViewData["Title"] = "Index";
}
@model UserViewModel
<div class="row">

    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı bilgileri</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Kullanıcı adı</td>
                        <td>Email</td>
                        <td>Şehir</td>
                    </tr>
                    <tr>
                        <td>@Model.UserName</td>
                        <td>@Model.Email</td>
                        <td>@Model.City</td>
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a asp-controller="Courses" asp-action="Index" class="list-group-item list-group-item-action">Kurslarım</a>
        </div>
    </div>
</div>